.page-index

  #main
    background: url('/assets/img/background/index/random_grey_variations.png')
    min-height: 100vh

  #skills
    background: url('/assets/img/background/index/gradient_squares.png')
    min-height: 90vh

    .item
      .logo
        max-height: 10vmin
        max-width: 10vmin

  #contact
    background: url("/assets/img/background/index/connectwork.png")
