<div class="row align-items-center text-center py-3 bg-dark text-white" id="footer">
  <div class="col">
    <small>
      Site em desenvolvimento contínuo. <br>
      Gostaria de reportar um erro, bug ou sugestões?
      Você pode utilizar o <a href="#contact">formulário de contato</a> ou ainda
      <a href="{{ site.issue-form.url }}" target="_blank">
        abrir uma issue no repositório do site!
      </a>
    </small>
  </div>
</div>
