<html lang="en">
<head>
  <base href="{{ site.baseurl }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="container-fluid">

    {% for style in page.style %}
      <link rel="stylesheet" href="assets/css/{{ style }}.css">
    {% endfor %}

    {{ content }}
  </div>
</body>
</html>
